# --- Core Django & Channels ---
Django==5.2.7
channels==3.0.5
daphne==3.0.2

# --- Machine Learning / Model Inference ---
tensorflow-cpu==2.18.0
numpy==1.26.4
scipy==1.15.1
h5py==3.12.1

# --- Utilities ---
requests==2.32.3
pytz==2025.2
sqlparse==0.5.3
asgiref==3.10.0

# --- Optional if you use translation/audio features ---
deep-translator==1.11.4
gTTS==2.5.4

# --- Optional if you use Django ORM features / logging ---
python-dateutil==2.9.0.post0
typing_extensions==4.15.0
